.contact-section.contact-section-careers {
  margin-top: 0;
}

.contact-section {
  background-color: $yellow;
  margin-top: $section-spacing;

  address {
    color: $black;
  }
}

.contact-section-inner {
  @include push-center;
  @include xy-grid;
  padding: $container-vertical-padding map-get($grid-container-padding, small);
  max-width: $global-width-narrow;

  address {
    @include xy-cell(12);
    font-size: 20px;

    @include mq(desktop) {
      @include xy-cell(5 of 10);
    }
  }

  @include mq(tablet) {
    padding-left: 118px;
    padding-right: 118px;
  }

  @include mq(desktop) {
    padding-left: map-get($grid-container-padding, large);
    padding-right: map-get($grid-container-padding, large);
  }
}

.contact-section-title {
  @extend %section-title;
  @include xy-cell(10 of 10);
  color: $black;
  line-height: 60px;
  margin: 0 0 36px;

  @include mq(tablet) {
    @include xy-cell(10 of 10);
    margin: 0 0 28px;
  }

  @include mq(desktop) {
    @include xy-cell(5 of 10);
    margin-bottom: 0;
    padding-right: 1rem;
  }
}
