.footer {
  background-color: $black;
  padding: rem-calc(52 26 38);
  margin-top: $section-spacing;

  @include mq(tablet) {
  }

  @include mq(desktop) {
    @include flex-middle-justify;
    padding: rem-calc(45 60 28);
  }
}

.footer-branding {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  margin-bottom: rem-calc(28);

  .footer-branding-social + .footer-branding-social {
    margin-left: rem-calc(14);
  }

  .footer-branding-social {
    svg,
    img {
      vertical-align: -6px;
    }
  }

  @include mq(tablet) {
    align-items: center;

    > div {
      align-items: center;
      display: flex;
    }
  }

  @include mq(desktop) {
    display: block;
    margin-bottom: 0;
  }
}

.footer-logo {
  @include logo-main-text($color: $white, $size: small);
  margin-bottom: 28px;

  @include mq(tablet) {
    margin-bottom: 0;
  }

  @include mq(tablet) {
    & + .footer-branding-social {
      margin-left: 25px;
    }
  }

  @include mq(desktop) {
    & + .footer-branding-social {
      margin-left: 45px;
    }
  }
}

.footer-links {
  .footer-links-menu > li > a {
    @include grotesk-bold;
    color: $white;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;

    &::after {
      background: $white;
    }
  }

  @media(min-width: 768px) and (max-width: 1024px) {
    @include flex-middle-justify;
  }

  @include mq(desktop) {
    text-align: right;
  }
}

.footer-links-menu-secondary {
  margin-top: 36px;

  > span {
    color: $white;
  }

  > .footer-links-menu-secondary-link {
    @include transition(opacity);
    border-left: 1px solid $white;
    color: $white;
    margin-left: 12px;
    padding-left: 12px;

    &:hover {
      opacity: $link-hover-opacity;
    }
  }

  @include mq(tablet) {
    text-align: right;
    margin-top: 0;
  }

  @include mq(desktop) {
    margin-left: 18px;
    margin-top: 16px;
    padding-left: 18px;
  }
}

.contact-section + .footer {
  margin-top: 0;
}
