.hero {
  color: $body-font-color;

  &.hero-bg-dark {
    background-color: $black;
    color: $white;
  }

  &.hero-bg-light {
    background-color: $blue;
    color: $white;
  }

  &.hero-bg-black {
    background-color: $true-black;
    color: $white;
  }

  &.hero-bg-contact {
    background-image: url('../assets/img/backgrounds/contact-bg-small.jpg');
    background-position: center top -35px;
    background-repeat: no-repeat;
    background-size: cover;
    color: $white;

    .grid-container-narrow {
      padding-top: $section-spacing;
      padding-bottom: $section-spacing;
    }
  }

  .hero-date {
    @include grotesk-bold;
    color: $light-gray;
    margin-bottom: 0;

    &:empty {
      display: none;
    }
  }

  .lead:empty {
    display: none;
  }

  .lead::before {
    top: 100%;
  }

  .hero-title {
    animation: fade-in 1s ease-out both;
    margin-bottom: 3px;
    position: relative;

    & + .lead {
      margin-bottom: 0;
    }
  }

  &.hero-large-title {
    .grid-container-narrow {
      padding-top: $section-spacing/2;
      padding-bottom: $section-spacing/1.5;
    }

    .hero-title {
      font-size: 45px;
      line-height: 55px;
    }
  }

  &.hero-empty {
    .grid-container-narrow {
      display: none;
    }
  }

  @include mq(tablet) {
    padding-top: map-get($nav-height, medium);

    .hero-title {
      font-size: 55px;
      line-height: 75px;
    }

    .hero-title.large-title {
      font-size: 75px;
      line-height: 85px;
    }

    &.hero-bg-contact {
      background-image: url('../assets/img/backgrounds/contact-bg-medium.jpg');
      background-position: center top;

      .grid-container-narrow {
        padding-top: $section-spacing * 2;
        padding-bottom: $section-spacing * 2;
      }
    }
  }

  @include mq(desktop) {
    padding-top: map-get($nav-height, large);

    .lead::before {
      top: 108%;
    }

    .hero-title.large-title {
      font-size: 100px;
      line-height: 115px;
    }

    &.hero-bg-contact {
      background-image: url('../assets/img/backgrounds/contact-bg.jpg');

      background-position: center center;

      .grid-container-narrow {
        padding-top: $section-spacing;
        padding-bottom: $section-spacing * 2;
      }
    }
  }
}
