.other-work {

  h2 {
    margin-bottom: 16px;
  }

  .image-hover-wrapper {
    img {
      height: 247px;
    }

    figcaption {
      @media(max-width: 1024px) {
        margin-bottom: 1rem;
        opacity: 1;
        position: static;
      }
    }
  }

  .slick-slide {
    padding: 0 5px;
  }

  .slick-prev {
    top: -16px;
    right: 31px;
    left: auto;
  }

  .slick-next {
    top: -16px;
    right: 5px;
  }
}

.news-card {
  &:hover .image-hover-wrapper::before,
  &:focus .image-hover-wrapper::before {
    opacity: 1;
  }

  &:hover .image-hover-wrapper + .card-title,
  &:focus .image-hover-wrapper + .card-title {
    color: $teal;
  }
}

.image-hover-wrapper {
  position: relative;

  &::before {
    transition: opacity .25s ease-out;
    background-color: rgba(83,228,192,.8);
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    opacity: 0;
    width: 100%;
  }

  &:hover::before,
  &:hover figcaption,
  &:focus::before,
  &:focus figcaption {
    opacity: 1;
  }

  &::after {
    transition: transform .25s ease-out;
    transition: transform .25s ease-out;
    bottom: 16px;
    content: url(../assets/img/icons/plus-icon.svg);
    height: 33px;
    position: absolute;
    right: 16px;
    transform: scale(0);
    width: 33px;
  }

  &:hover::after,
  &:focus::after {
    transform: scale(1);
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  figcaption {
    font-size: 20px;
    font-weight: 700;
    color: $black;
    opacity: 0;
    transition: opacity .25s ease-out;
    position: absolute;
    top: 16px;
    left: 16px;
    font-weight: 400;
  }
}
