.news-card {
  background-color: $white;
  margin-bottom: 72px;

  @include mq( tablet ) {
    margin-bottom: 60px;
  }

  h3 {
    transition: all .25s ease-out;
    line-height: 38px;
    font-size: 30px;
    font-weight: 700;
    color: $text-black;
  }
}

.card-title {
  font-size: 25px;

  @include mq( desktop ) {
    font-size: 30px;
  }
}

.card-metadata {
  color: $grey;
}

.works-card {
  margin-bottom: 16px;
}
