.archive-positions hr {
  border-top: 0;
  border-bottom: 3px solid $teal;
  border-right: 0;
  border-left: 0;
  background-color: transparent;
  margin: 48px auto 100px;
}

.callout {
  padding-top: 100px;
}

.feature-list {
  margin: 0;
  list-style-type: none;

  &-item {
    font-size: 20px;
    line-height: 32px;

    @include mq( desktop ) {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
    }
  }

  &-item > ul {
    @include mq( desktop ) {
      margin-bottom: 0;
    }
  }

  &-title-wrapper {
    display: flex;
    align-items: flex-end;
    flex: 1 0 0;

    @include mq( desktop ) {
      align-items: baseline;
    }
  }

  &-title {
    flex: 0 1 auto;
    white-space: nowrap;
    margin-bottom: 0;
    line-height: 42px;
  }

  &-divider {
    max-width: 100%;
    background-color: $teal;
    flex: 1 0 0;
    height: 2px;
    margin-bottom: 10px;
    margin-left: 12px;

    @include mq( desktop ) {
      margin-left: 16px;
      margin-right: 16px;
      margin-bottom: 0;
    }
  }

  &-options {
    list-style-type: none;
    margin: 0;
    position: relative;
    top: 4px;

    @include mq( desktop ) {
      flex: 0 1 33%;
    }
  }
}

