.header-contact {
  padding: $container-vertical-padding map-get($grid-container-padding, small) /
    2 0;
  text-align: center;

  address {
    margin-bottom: 25px;
  }

  .header-contact-title {
    margin-bottom: 0;

    a {
      @include hover-underline(
        $color: $body-font-color,
        $max-width: 100%,
        $speed: 0.25s,
        $distance: -5px,
        $line-thickness: 5px
      );
    }

    &:last-of-type {
      margin-top: 45px;
    }
  }

  @media(max-width: 768px) {
    .header-contact-title {
      font-size: 24px;
      line-height: 30px;

      &:last-of-type {
        margin-top: 20px;
      }
    }
  }

  @include mq(tablet) {
    padding-left: map-get($grid-container-padding, medium);
    padding-right: map-get($grid-container-padding, medium);

    address {
      margin-bottom: 22px;
    }
  }

  @include mq(desktop) {
    padding-left: map-get($grid-container-padding, large);
    padding-right: map-get($grid-container-padding, large);
  }
}
