.header-contact {
  padding: $container-vertical-padding map-get($grid-container-padding, small) /
    2 0;
  text-align: center;

  address {
    margin-bottom: rem-calc(25);
  }

  .header-contact-title {
    margin-bottom: 0;

    a {
      @include hover-underline(
        $color: $body-font-color,
        $max-width: 100%,
        $speed: 0.25s,
        $distance: -5px,
        $line-thickness: 5px
      );
    }

    &:last-of-type {
      margin-top: rem-calc(45);
    }
  }

  @media(max-width: 768px) {
    .header-contact-title {
      font-size: rem-calc(24);
      line-height: rem-calc(30);

      &:last-of-type {
        margin-top: rem-calc(20);
      }
    }
  }

  @include mq(tablet) {
    padding-left: map-get($grid-container-padding, medium);
    padding-right: map-get($grid-container-padding, medium);

    address {
      margin-bottom: rem-calc(22);
    }
  }

  @include mq(desktop) {
    padding-left: map-get($grid-container-padding, large);
    padding-right: map-get($grid-container-padding, large);
  }
}
