/* Sticky footer */
.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  position: relative;
}

.site-content {
  flex-grow: 1;
}

.grid-container {
  padding-left: map-get($grid-container-padding, small);
  padding-right: map-get($grid-container-padding, small);

  @media(max-width: 370px) {
    padding-left: map-get($grid-container-padding, small);
    padding-right: map-get($grid-container-padding, small);
  }

  @include mq(tablet) {
    padding-left: rem-calc(118);
    padding-right: rem-calc(118);
  }

  @include mq(desktop) {
    padding-left: map-get($grid-container-padding, large);
    padding-right: map-get($grid-container-padding, large);
  }
}

.section {
  @extend .grid-container;
  padding-top: $section-spacing/2;
  padding-bottom: $section-spacing/2;

  @include breakpoint(medium) {
    padding-bottom: $section-spacing;
    padding-top: $section-spacing;
  }
}

.section-overlap-hero {
  margin-top: -$section-spacing/2;

  main > &.grid-container-narrow:first-child {
    padding-top: 0;
  }

  @include breakpoint(medium) {
    margin-top: -$section-spacing;
  }
}

.grid-container-narrow {
  @extend .section;
  max-width: $global-width-narrow;

  @media screen and (min-width: 1024px) and (max-width: 1140px) {
    max-width: 790px;
  }
}

main {
  > .grid-container-narrow:first-child {
    padding-top: $section-spacing;
  }

  @include mq( tablet ) {
    > .grid-container-narrow:first-child {
      padding-top: $section-spacing * 2;
    }
  }
}

.section-overlap {
  padding-bottom: $section-spacing/2 + map-get($section-overlap, small);

  &.section-background {
    padding-bottom: 0;
  }

  &.section-background > .section,
  &.section-background > .grid-container-narrow {
    padding-bottom: $section-spacing/2 + map-get($section-overlap, small);
  }

  & + .grid-container-narrow,
  & + .section {
    margin-top: -(map-get($section-overlap, small));
  }

  @include breakpoint(large) {
    padding-bottom: $section-spacing + map-get($section-overlap, large);

    &.section-background > .section {
      padding-bottom: $section-spacing + map-get($section-overlap, large);
    }

    & + .grid-container-narrow,
    & + .section {
      margin-top: -(map-get($section-overlap, large));
    }
  }
}

.section-background {
  background-color: $black;
  color: $white;
}

.section-background-tertiary {
  background-color: $blue;
  color: $white;
}

.section-background-blue-gradient {
	background-color: $sap-dark-blue;
	background: linear-gradient(0deg, $sap-dark-blue 25%, $sap-light-blue 100%);
	color: $white;
	margin-top: -160px;
}

.section-background-light {
  background-color: $light-gray;
}

.section-background-white {
  background-color: $white;
}

.section-background-black {
  background-color: $true-black;
  color: $white;
}

.grid-gallery {
  .gallery-item {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.callout {
  padding-top: $section-spacing;
}

// utilities
// ----------
.pb0 {
  padding-bottom: 0 !important;
}

.pt0 {
  padding-top: 0 !important;
}
