/* Sticky footer */
.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  position: relative;
}

.site-content {
  flex-grow: 1;
}

.section-overlap-hero {
  padding-top: 0;
  transform: translateY(-48px);
  
  @include mq( tablet ) {
    transform: translateY(-100px);
  }
}

.grid-gallery {
  .gallery-item {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
