header {
  display: flex;
  flex-direction: column;
  
  @include mq( tablet ) {
    padding-top: 132px;
  }
  
}

.hero-bg-dark {
  background-color: $black;
  color: white;
}

.hero-empty {
  background-color: none;
  color: black;

  > .grid-container-narrow {
    display: none;
  }
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 82px;

  margin-left: auto;
  margin-right: auto;
  max-width: 1140px;
  padding-left: 28px;
  padding-right: 28px;

  @include mq( tablet ) {
    position: fixed;
    width: 100%;
    height: 155px;
    z-index: 10;
    top: 0;
    left: 50%;
    transform: translate(-50%, -12%);
  }
}

.nav-logo {
  display: flex;
  align-items: center;

  img {
    width: 45px;
    height: 45px;

    @include mq( tablet ) {
      width: 75px;
      height: 75px;
    }
  }

  span {
    font-size: 22px;
    font-weight: 700;
    margin-left: 12px;
    transition: opacity .25s ease-out;
    opacity: 1;

    @include mq( tablet ) {
      font-size: 55px
    }
  }
} 

.nav-logo.is-stuck {
  span {
    opacity: 0;
  }
}

.hamburger-button {
  outline: 0;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  border-radius: 0;
  background: none;
  line-height: 1;
  cursor: pointer;
  z-index: 10;
  position: relative;
  top: 7px;

  &:hover,
  &:active,
  &:focus {
    background: none;
    background-image: none;
    border-color: transparent;
  }

  .line {
    background-color: $teal;
    display: block;
    height: 3px;
    margin: 12px auto;
    width: 40px;
    transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
  
    @include mq( tablet ) {
      width: 76px;
      margin: 24px auto;
    }
  }
}

.nav.is-open {

  .nav-logo {
    opacity: 0;
  }

  .hamburger-button {
    .line {
      background-color: #151e25;
    }
  
    .line:first-child() {
      transform: translateY(15px) rotate(45deg);
  
      @include mq( tablet ) {
        transform: translateY(27px) rotate(45deg);
      }
    }
  
    .line:nth-child(2) {
      opacity: 0;
    }
  
    .line:nth-child(3) {
      transform: translateY(-15px) rotate(-45deg);
  
      @include mq( tablet ) {
        transform: translateY(-27px) rotate(-45deg);
      }
    }
  }
}

.nav-wrapper {
  width: 100%;
  padding-top: 82px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $yellow;
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  pointer-events: none;
  -webkit-transition: opacity .5s ease-out;
  transition: opacity .5s ease-out;
  overflow-y: auto;

  @include mq( tablet ) {
    padding-top: 155px;
  }

  .grid-container {
    width: 100%;

    @include mq( tablet ) {
      padding-right: 118px;
      padding-left: 118px;
    }

    @media(min-width: 1280px) {
      padding-right: 15px;
      padding-left: 15px;
    }
  }
}

.nav-wrapper.is-open {
  opacity: 1;
  z-index: 5;
  pointer-events: auto;
}

.nav-menu {
  margin-bottom: 28px;

  @include mq( desktop ) {
    margin-bottom: 0;
  }

  &__item {
    display: block;
  }

  > a {
    font-size: 45px;
    font-weight: 700;
    line-height: 1.4;

    @include mq( tablet ) {
      font-size: 55px;
    }
  }
}

.nav-menu-secondary {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-menu-details {
  address {
    font-style: normal;
    line-height: 28px;
    color: black;
  }
}

.nav-menu-social {
  display: flex;
  margin-bottom: 32px;

  > li:not(:first-child) {
    margin-left: 25px;
  }
}

.nav-menu-contact {
  margin-top: 48px;
  margin-bottom: 96px;
  
  a {
    font-weight: 700;
    font-size: 20px;

    @include mq( tablet ) {
      font-size: 40px;
    }
  }
}
