// .grid-container-narrow {
//   max-width: 905px;
//   margin-left: auto;
//   margin-right: auto;
// }

.news-card {
  background-color: #fff;

  &:hover h3 {
    color: #53e4c0;
  }

  &:hover figure::before {
    opacity: 1;
  }
  
  figure {
    position: relative;

    &::before {
      transition: opacity .25s ease-out;
      background-color: rgba(83,228,192,.8);
      content: '';
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0;
    }
  }

  h3 {
    transition: all .25s ease-out;
    line-height: 38px;
    font-size: 30px;
    font-weight: 700;
    color: #151e25;
  }

  p {
    color: #8b8b8b;
  }
}
