/* Sticky footer */
.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  position: relative;
}

.site-content {
  flex-grow: 1;
}

.hero {
  background-color: #162636;

  @include mq( tablet ) {
    padding-top: 155px;
  }
}

.hero-empty {
  background-color: #fff;
  
  @include mq( tablet ) {
    padding-top: 155px;
  }
}
