ul {
	padding: 0;
	margin: 0;
}

li {
	list-style-type: none;
}

.alignfull {
	max-width: 100vw;
	width: 100vw;
	overflow: hidden;
	margin: 0 calc(50% - 50vw);
}

img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.grid-container-narrow {
	max-width: 905px;
	margin-left: auto;
	margin-right: auto;
	
	@include mq( tablet ) {
		padding-left: 90px;
    padding-right: 90px;
	}

	@include mq( desktop ) {
		max-width: none;
	}
}

.no-scroll {
	overflow: hidden;
}
