ul {
	padding: 0;
	margin: 0;
}

li {
	list-style-type: none;
}

.alignfull {
	max-width: 100vw;
	width: 100vw;
	overflow: hidden;
	margin: 0 calc(50% - 50vw);
}

img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.grid-container-narrow {
	max-width: 905px;
	margin-left: auto;
	margin-right: auto;
	padding: 50px 14px;
	align-self: center;
  width: 100%;
	
	@media(min-width: 375px) {
		padding-left: 28px;
		padding-right: 28px;
	}

	@include mq( tablet ) {
		padding: 100px 118px;
	}

	@media screen and (max-width: 1140px) and (min-width: 1024px) {
		max-width: 790px;
	}

	@include mq( desktop ) {
		padding-left: 0;
    padding-right: 0;
	}
}

.grid-container-narrow.article {
	padding-top: 50px;
}

.no-scroll {
	overflow: hidden;
}

.hero-title {
	@include mq( tablet ) {
		font-size: 55px;
    line-height: 75px;
	}
}

.hero-title.large-title {
	@include mq( tablet ) {
		font-size: 75px;
    line-height: 85px;
	}
}

.headline {
	margin-bottom: 16px;

	@include mq( desktop ) {
		max-width: 80%;
	}
}

.lead {
	font-style: italic;
	font-size: 20px;
  line-height: 32px;
}

.lead-narrow {
	max-width: 721px;
}

.sub-headline {
	font-size: 1.25rem;
  font-style: italic;
}

.email-link {
	line-height: inherit;
	color: $green;
	text-decoration: none;
	cursor: pointer;
}
