
// Fallback font.
$font__fallback: 'noticia-text', sans-serif;

// Global theme font.
$font__main: 'noticia-text', sans-serif;

// Global code font
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;

$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

// Enable font smoothing for site wide fonts
$font-smoothing: true;

// Defines the base font size of the page, which is the value `1rem` is equal to.
$font__rem-base: 16px !default;

// Global Base Font size. Assigned to `<body>` tag
$font__base-font-size: 16px !default;

// Global Base Line Height
$font__base-line-height: 30px !default;

// Heading 1 font size
$font__size-h1: 35px;

// Heading 2 font size
$font__size-h2: 30px;

// Heading 3 font size
$font__size-h3: 32px;

// Heading 4 font size
$font__size-h4: 20px;

// Heading 5 font size
$font__size-h5: 20px;

// Heading 6 font size
$font__size-h6: 14px;

$header-margin-bottom: 16px;
$lead-font-size: rem-calc(20);

blockquote, dd, div, dl, dt, form, h1, h2, h3, h4, h5, h6, li, ol, p, pre, td, th, ul {
  margin: 0; 
  padding: 0;
}

h1, h2, h3, h4, h5 {
  font-family: 'nuue-hass-grotesk-bold';
}

p > a,
h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
  @include hover-underline($max-width: 103%);
  font-weight: bold;
}

address {
  color: $body-font-color;
  font-style: normal;
  line-height: 28px;

  a {
    // override ios phone # default styles
    color: $body-font-color;

    &:hover {
      color: $body-font-color;
    }
  }
}

.headline {
	margin-bottom: 16px;

	@include mq( desktop ) {
		max-width: 80%;
	}
}

.sub-headline {
  font-size: $lead-font-size;
  font-style: italic;
  margin-bottom: 50px;
}

.email-link {
	line-height: inherit;
	color: $green;
	text-decoration: none;
	cursor: pointer;
}

.lead {
  font-style: italic;
  position: relative;

  .grid-container-narrow & {
    &:first-of-type {
      padding-top: 1.25rem;
    }
  }

  &:first-of-type::before {
    animation: grow-down-in 0.4s ease both;
    animation-delay: 1s;
    background-color: $teal;
    bottom: 100%;
    content: '';
    height: 100px * 1.5;
    left: 0;
    position: absolute;
    width: 3px;
  }

  & + .lead {
    margin-top: rem-calc(30);
  }

  &.lead-narrow {
    max-width: rem-calc(721);
  }

  @include mq(tablet) {
    &:first-of-type::before {
      height: 100px * 3;
    }
  }
}

%word-wrap {
  hyphens: auto;
  overflow-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word;
}

%section-title {
  font-size: rem-calc(45);
  line-height: 75px;

  @include mq(tablet) {
    font-size: rem-calc(55);
  }
}

.section-title {
  @extend %section-title;
  margin-bottom: rem-calc(35);

  .grid-container-narrow & {
    &:first-of-type {
      padding-top: 1rem;
    }
  }

  @include mq(tablet) {
    margin-bottom: rem-calc(55);
  }
}

.headline-cta {
  margin-bottom: 0;
}
