// From old settings file on TK repo
$callout-border: 1px solid $border-color;
$callout-radius: 0;
$global-width-narrow: 905px;
$menu-simple-margin: 25px;

// layout
// --------------------------------
$section-spacing: rem-calc(
  100
); // vertical inner spacing between content sections
$section-overlap: (
  small: rem-calc(65),
  large: rem-calc(90),
);
$grid-container-padding: (
  small: 28px,
  medium: rem-calc(75),
  large: 0,
);

// navigation
// --------------------------------
$nav-height: (
  small: rem-calc(82),
  medium: rem-calc(132),
  large: rem-calc(155),
);
$nav-transition-speed: 0.5s;

$hamburger-line-color: $teal;
$hamburger-line-spacing: 12px;
$hamburger-line-thickness: 3px;
$hamburger-width: 40px;

// buttons
// --------------------------------
$button-font-weight: normal;
$link-hover-opacity: 0.8;

// generic containers
// --------------------------------
$container-box-shadow: 0 0 16px 1px rgba(0, 0, 0, 0.3);
$container-box-shadow-inverse: 0 0 16px 1px rgba(255, 255, 255, 0.3); // for dark bg's
$container-border: $callout-border;
$container-radius: $callout-radius;
$container-vertical-padding: rem-calc(45);

// hero
// --------------------------------
$hero-connector-img-primary-height: rem-calc(352);
$hero-connector-img-primary-height-medium: rem-calc(247);
$hero-connector-img-primary-height-small: rem-calc(146);
$hero-connector-overlap: #{-$section-spacing * 3};
$hero-connector-overlap-small: #{-$section-spacing * 1.5};

// forms
// --------------------------------
$checkbox-label-offset: 1.75rem;
$checkbox-size: rem-calc(20);
$checkbox-check-size: rem-calc(15);
$global-rounded: 5000px;
$checkbox-border-color: $border-color;
$checkbox-bg: $white;
$checkbox-selected-bg: $white;
$checkbox-icon: url('../assets/img/icons/checkmark-icon.svg');

$input-margin-bottom-mobile: rem-calc(12);
$input-height: rem-calc(64);
$input-margin-bottom: rem-calc(15);
